
<ion-view  class="home" view-title="Home">




  <ion-content scroll="false">



 <div ng-controller="rankingCtrl" class="profilZone">

 	<h2>{{user.pseudo}}</h2>
 	<img ng-show="isBetterRanking(6, userScore.rank)" class="fleche" src="img/flecheUp.png" alt="">    
 	<img ng-hide="isBetterRanking(6, userScore.rank)" class="fleche" src="img/flecheDown.png" alt="">    
	
 </div>
 	 


<div class="tease">
	<timer end-time="1430474400000">{{days}} J, {{hours}} H, {{minutes}} M, {{seconds}} S.</timer>
	<img src="img/winner.png" alt="">
</div>
<button href="#/app/games" id="playGamesBtn" ng-click="moveToGames()" class="button button-full button-positive">
  	Joue aux jeux
</button>


  </ion-content>
</ion-view>