<ion-view class="login"  view-title="aquarium">
  <ion-content class="padding login">
		
		<img src="img/goutte.png" alt="">
	   <div  id="loginForm" class="">
		  
		    <input ng-model="pseudo" type="text" placeholder="Pseuedo">		  
		    <input ng-model="password" type="password" placeholder="Password">
	  	  
		</div>
		<button id="buttonLogin" ng-click="login(pseudo, password)" class="button buttonLogin button-block button-positive">
  			Login
		</button>
		<button id="buttonLogin" ng-click="getPhoto()"class="button buttonLogin button-block button-assertive">
  			Enregistre toi!!
		</button>

		<div></div>
		
		<div ng-repeat="user in users">{{user}}</div>

  </ion-content>
</ion-view>