<ion-view class="Register" view-title="aquarium">
  <ion-content class="padding login">
		
		<img src="img/profil.png" alt="">
		<div id="registerForm" class="list">
		  
		    
		    <input type="text" placeholder="Pseuedo pleeaaase...">
		  
		    
		    <input type="email" placeholder="jean.bon@heig-vd.ch">
		  
		   
		    <input type="password" placeholder="password">
		 
		</div>
		<button id="buttonLogin" ng-click="signUp()"class="button buttonLogin button-block button-assertive">
  			Inscris toi!!
		</button>

  </ion-content>
</ion-view>