<ion-view class="Register" view-title="aquarium">
  <ion-content class="padding login">
		
		  <div class="obligatoire"  ng-class="{'disapear':animation.buttonphoto}"><button id="buttonLogin" ng-click="takePhoto()"class="button buttonLogin button-block button-assertive">
  			Prends une photo!
                        </button></div>
		<div class="registerImage">
                    
                  
                    <div class="toFill" ng-bind-html="animation.img"></div>
                </div>
      
      
      <p class="info_register">Une photo de profil est obligatoire pour notre concours de la meilleure photo !</p>
      
		<div id="registerForm" class="list">
		  
		    <p class="info_register">{{animation.error}}</p>
		    <input type="text" ng-model="newPseuedo" placeholder="Votre pseudo">
		  
		    
		    <input type="email" ng-model="newEmail" placeholder="jean.bon@heig-vd.ch">
		  
		   
		    <input type="password" ng-model="newPassword" placeholder="Mot de passe">
		 
		</div>
		<button id="buttonLogin" ng-click="newUser(newPseuedo, newEmail, newPassword, image.imageId)"class="button buttonLogin button-block button-assertive">
  			Inscris toi!!
		</button>

  </ion-content>
</ion-view>