<<<<<<< HEAD
@font-face {
    font-family: 'helsinkiregular';
    src: url('fonts/helsinki-webfont.eot');
    src: url('fonts/helsinki-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helsinki-webfont.woff2') format('woff2'),
         url('fonts/helsinki-webfont.woff') format('woff'),
         url('fonts/helsinki-webfont.ttf') format('truetype'),
         url('fonts/helsinki-webfont.svg#helsinkiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



*{
	font-family: helsinkiregular;
}
=======
>>>>>>> c35f75ee9a50e06136946f48ffbdd984d1d2750b
.games{
	background-color: #11c1f3;
}



.btnFlash{
	background-color: #89CE9A;
	border:none;
}

.btnTrash{
	background-color: #F9B995;
	border:none;
}

.btnWash{
	background-color: #9DE7F9;
	border:none;
}

.flash{
	background-color: #89CE9A;
}

.trash{
	background-color: #F9B995;
}

.wash{
	background-color: #9DE7F9;
	
}

#flash{
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;

}

#wash{
<<<<<<< HEAD
	background-image:url('../img/wash.png');
=======
	
>>>>>>> c35f75ee9a50e06136946f48ffbdd984d1d2750b
	background-color: #9DE7F9;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

#trash{
<<<<<<< HEAD
	background-image:url('../img/trash.png');
=======

>>>>>>> c35f75ee9a50e06136946f48ffbdd984d1d2750b
	background-color: #F9B995;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

#playGamesBtn{
	height:30%;
	position: fixed;
<<<<<<< HEAD
	bottom:-2px;
	padding:0px;
	border-color: #9de7f9;
	margin:0;
	background-color: #9de7f9;
	font-size:2em;
	font-weight: 900;
	text-transform: uppercase;
	font-family: helsinkiregular;
=======
	bottom:0px;
	padding:0;
	margin:0;
	font-size:2em;
	font-weight: 900;
	text-transform: uppercase;
>>>>>>> c35f75ee9a50e06136946f48ffbdd984d1d2750b
}

.gameImg{
	position:absolute;
	top:0;
	max-width: 50%;
}

<<<<<<< HEAD
.login{
	background-color: #D3E4F5;

}

.home{
	background-color: #f9b995;
}

.profilZone{
	height:30%;
	width:100%;

	
}

.profilZone h2{
	font-family:helsinkiregular;
	color:white;
	width:100%;
	text-align: center;
	margin-top:30px;
	padding-left: 20px;
	
	
}
.profil{
	float: right;
	
	height:100%;
}

timer{
	color:white;
	position:fixed;
	bottom:32%;
	width:100%;
	text-align: center;
	z-index:2000;
	font-size: 1.3em;
	font-weight: bold;
}

.tease img{
	position:fixed;
	bottom:29%;
	width:50%;
	left: 25%;
}

.login img{
	margin-left: 35%;
	margin-top: 10%;
	width:30%;
}

#loginForm input{
	padding: 25px;
	width:100%;
	margin-top: 10px;
}

.fleche{
	
	
	width:10%;
	margin-left: 45%;
	margin-right: auto;
	margin-top:10px;
}



#loginForm{
	margin-top: 10%;
	width:70%;
	background-color: rgb(0,0,0,0);
	margin-left: 15%;
}

#buttonLogin{
	width:70%;
	margin-left: 15%;
}

#registerForm input{
	padding: 25px;
	width:100%;
	margin-top: 10px;
}

#registerForm{
	width:70%;
	margin-left:15%;
	margin-top: 50px;
}

button{
	font-family: helsinkiregular;
}

=======
>>>>>>> c35f75ee9a50e06136946f48ffbdd984d1d2750b
.imgScore{
	text-align:right;
	margin-right: 5%;
	font-size: 3em;
	color:white;
	font-weight: 800;
<<<<<<< HEAD
	position:absolute;
	top:0;
	right:10%;
	font-family: helsinkiregular;

}
=======
}

>>>>>>> c35f75ee9a50e06136946f48ffbdd984d1d2750b
