.games{
	background-color: #11c1f3;
}



.btnFlash{
	background-color: #89CE9A;
	border:none;
}

.btnTrash{
	background-color: #F9B995;
	border:none;
}

.btnWash{
	background-color: #9DE7F9;
	border:none;
}

.flash{
	background-color: #89CE9A;
}

.trash{
	background-color: #F9B995;
}

.wash{
	background-color: #9DE7F9;
	
}

#flash{
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;

}

#wash{
	
	background-color: #9DE7F9;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

#trash{

	background-color: #F9B995;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

#playGamesBtn{
	height:30%;
	position: fixed;
	bottom:0px;
	padding:0;
	margin:0;
	font-size:2em;
	font-weight: 900;
	text-transform: uppercase;
}

.gameImg{
	position:absolute;
	top:0;
	max-width: 50%;
}

.imgScore{
	text-align:right;
	margin-right: 5%;
	font-size: 3em;
	color:white;
	font-weight: 800;
}

